<launch>
  <node pkg="selfie_logic" type="change_lane_logic.py" name="change_lane_logic">
    <param name="border_x" value="0.8"/>
    <param name="border_y" value="0.7" />
    <param name="fraction" value="0.5"/> 
  </node>



  <node pkg="selfie_control" type="change_lane" name="change_lane">
    <param name="lane_width" value="0.4"/>
    <param name="error_margin" value="0.35" />
  </node>

  <node pkg="selfie_perception" type="detect_obstacles" name="selfie_obstacle_detector">
    <param name="upside_down" value="false"/>
    <param name="visualize" value="true" />
    <param name="max_range" value="2.0"/>
    <param name="min_range" value="0.1"/>
    <param name="line_search_max_range_difference_" value="0.04"/>
    <param name="line_search_max_slope_difference_" value="2.0"/>
    <param name="line_search_min_slope_difference_" value="0.05"/>
    <param name="line_search_slope_difference_ratio_" value="0.10"/>
    <param name="line_search_min_length_" value="0.05"/>
    <param name="line_min_length_" value="0.05"/>
    <param name="obstacle_nominal_length_" value="0.4"/>   
  </node>



</launch>
